*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

#ignore project structure files
git rm --cached --ignore-unmatch NetCracker-TaskManager.iml
git rm --cached --ignore-unmatch TaskManager.iml
git rm --cached --ignore-unmatch .idea
